# .prettierignore does not work in monorepos (even though .prettierrc does):
# https://github.com/prettier/prettier/issues/4081

/packages/appkit-html/src/generated-elements.ts
/packages/appkit-html/dist

/packages/uikit-html/src/generated-elements.ts
/packages/uikit-html/dist

notes.md